*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    overflow:hidden;
}

section{

    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:darkslategrey;
}


section::before{
    content:'';
    position:absolute;
    width: 30vw;
    height: 30vw;
    border: 5vw solid palevioletred;
    border-radius: 50%;
    box-shadow: 0 0 0 1vw #222,
    0 0 0 1.3vw #fff;
}

h2{

    position:absolute;
    font-size: 9vw;
    color:white;
    text-align:center;
    line-height: 2em;
    z-index:10;
    transform: skewY(-7deg);
    text-shadow: 1px 1px 0 grey,
    2px 2px 0 grey,
    3px 3px 0 grey,
    4px 4px 0 grey,
    5px 5px 0 grey,
    10px 10px 0 rgba(0,0,0,0.2);
    animation: floating 5s ease-in-out infinite;
}

@keyframes floating {


    0%,100% {
        transform: skewY(-7deg) translate(0,-20px);
    }
    
    50% {
        transform: skewY(-7deg) translate(0,20px);
    }
}

h2 span {

    font-weight:700;
    font-size:3em;
    text-shadow: 1px 1px 0 #ccc,
    2px 2px 0 #ccc,
    3px 3px 0 #ccc,
    4px 4px 0 #ccc,
    5px 5px 0 #ccc,
    6px 6px 0 #ccc,
    7px 7px 0 #ccc,
    8px 8px 0 #ccc,
    9px 9px 0 #ccc,
    20px 20px 0 rgba(0,0,0,0.2);

}

section i {

    position:absolute;
    background:white;
    border-radius: 50%;
    box-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white;
    animation: anima 1s linear infinite;

}


@keyframes anima{

    0%{

        opacity: 0;
    }
    
    10%{

        opacity: 1;
    }

    90%{

        opacity: 1;
    }
    
    100%{

        opacity: 0;
    }

}
